.venv/
.claude/
.vscode/
.git/
data/

.env

Dockerfile.api

src/__pycache__/
*.pyc
*.pyo

tests/

.pytest_cache/

logs/
*.logs

wandb/

models/baseline_codebert_model.pthç
models/sql_baseline_index.*

